[Unit]
Description=A python script that measures the humidity and temperature via the DHT22 sensor
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/python3 /opt/DHT22-humidity-temp-sensor/measure-DHT22.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.targ
